@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    background-color: #292a38;
    font-family: "微软雅黑"
}

.nav-wrap{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 120px auto 20px;
    border: 2px dotted #4e5061;
    border-radius: 50%;
}

.nav-wrap .main-nav{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    text-shadow: 1px 1px 0 #000;
    background-color: #e5a5f3;
    font-size: 12px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.nav-wrap nav{
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scale(0);
    transition: all 1s ease-in-out;
    opacity: 0;
}

.nav-wrap.active nav{
    transform: scale(1);
    opacity: 1;
}

.nav-wrap nav > a{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #f44283;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 3px;
    text-shadow: 1px 1px 0 #000;
    text-decoration: none;
    transform: translate(-50%,-50%);
}