@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    background-color: #292a38;
    font-family: "微软雅黑"
}

/*flex布局*/
.row{
    display: flex;
    justify-content: space-around;
}
.row .col{
    margin: 70px 0;
}

/*主区域样式控制*/
.nav-wrap{
    position: relative;
    border: 2px dotted #4e5061;
    border-radius: 50%;
}

/*按钮样式控制*/
.nav-wrap .main-nav{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    text-shadow: 1px 1px 0 #000;
    background-color: #e5a5f3;
    font-size: 12px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

/*小按钮外层包括的div块*/
.nav-wrap nav{
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

/*样式控制*/
.nav-wrap.active nav{
    transform: scale(1);
    opacity: 1;
}

/*每一个小块样式*/
.nav-wrap nav > a{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #f44283;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 3px;
    text-shadow: 1px 1px 0 #000;
    text-decoration: none;
    transform: translate(-50%,-50%);
}

/*各个图形的样式控制*/
.circle{
    width: 200px;
    height: 200px;
}

.ellipse{
    width: 600px;
    height: 200px;
}

.half-circle{
    width: 200px;
    height: 200px;
}

.half-ellipse{
    width: 600px;
    height: 200px;
}