@charset "UTF-8";
body {
    width: 90%;
    margin: 0 auto;
}

/*login info*/
.login-info {
    margin-top: 10px;
    text-align: right;
}

.text {
    color: #47392c;
}

.login-info .user {
    margin-right: 20px;
}

.login-info img {
    vertical-align: top;
}

.login-info .text {
    text-decoration: underline;
    cursor: pointer;
}

/*header tabs */
.header .header-top {
    height: 70px;
    border-bottom: 3px solid #383838;
    line-height: 40px;
}

.header-top .logo-text {
    float: left;
    line-height: 70px;
    font-size: 40px;
    font-weight: bold;
}

.header-top .tabs {
    float: right;
    height: 100%;
}

/*tabs 样式书写*/
.header-top .tabs span {
    display: block;
    height: 40px;
    margin-left: 5px;
    float: left;
    margin-top: 30px;
    padding: 0 10px 0 10px;
    border-top: 3px solid #383838;
    border-right: 3px solid #383838;
    border-left: 3px solid #383838;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}

/*选中tabs样式*/
.header-top .tabs span.active {
    height: 42px;
    margin-top: 23px;
    padding-top: 5px;
    background-color: #606060;
    color: #f2f2f2;
}

/*header 筛选条件样式*/
.header .menu {
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    line-height: 30px;
    border-left: 3px solid #383838;
    border-right: 3px solid #383838;
    border-bottom: 3px solid #383838;
    background-color: #606060;
}

/*menu 条件过滤信息*/
.menu .menu-title {
    margin-right: 10px;
    font-size: 30px;
    color: #e9e5d9;
}

.menu .list {
    display: inline-block;
    height: 30px;
    width: 87px;
    border: 3px solid #424141;
    vertical-align: top;
    font-size: 17px;
    text-align: center;
    background-color: #9a9a9a;
    border-radius: 20px;
    color: #383838;
    cursor: pointer;
}

.menu span.menu-active {
    background-color: #dedede;
}

/*内容承载区域,使用双飞翼布局*/
.main {
    margin-bottom: 10px;
    overflow: hidden;
    min-height: 400px;
    border-right: 3px solid #383838;
    border-left: 3px solid #383838;
    border-bottom: 3px solid #383838;
}

.main .left-main {
    float: left;
    width: 100%;
}

.main .left-main .main-inner {
    margin-right: 303px;
    padding: 15px 15px 15px 15px;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}

.main .right-side {
    float: right;
    margin-left: -100%;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-left: 2px solid #383838;
    width: 270px;
}

/*左侧服务器列表区域*/
.main-inner li {
    overflow: hidden;
    margin-bottom: 12px;
    min-height: 70px;
    border-radius: 10px;
    border: 2px solid #494a48;
}

/*状态园*/
.main-inner li .status {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: -100%;
    border: 1px solid #939393;
    background-color: #939393;
    border-radius: 50%;
    filter: blur(1px);
    -ms-filter: blur(1px);
    -webkit-filter: blur(1px);
}

.left-main li .info-list {
    float: right;
    width: 100%;
    min-height: 70px;
    height: auto;
}

li .info-list .info-list-inner {
    margin-left: 90px;
}

/*资源列表显示背景颜色*/
.main li.green {
    background-color: #cde8b8;
}

.main li.yellow {
    background-color: #fffbbd;
}

/*具体的服务器资源样式控制*/
.info-list-inner .net {
    min-height: 30px;
    margin-top: 5px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
}

.net .info-url {
    margin-right: 10px;
}

.split {
    color: #a7a590;
}

.info-list-inner .resource {
    min-height: 35px;
    line-height: 25px;
}

.resource .resource-specify {
    text-decoration: underline;
    cursor: pointer;
}

.resource .resource-server {
    float: left;
    position: relative;
    margin-right: 30px;
}

.resource .add {
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.resource .resource-add,
.resource .resource-specify,
.resource .split,
.resource .resource-title{
    float: left;
}

.resource .resource-add{
    cursor: pointer;
}

.resource .resource-specify,
.resource .split,
.resource .resource-title{
   margin-right: 7px;
}

.resource .resource-del {
    position: absolute;
    display: inline-block;
    margin-left: 2px;
    font-weight: bold;
    line-height: 10px;
    padding-left: 1px;
    top: 4px;
    padding: 0;
    width: 11px;
    height: 13px;
    border: 2px solid #a7a590;
    border-radius: 6px;
    color: #a7a590;
    font-weight: bold;
    cursor: pointer;
}

.deny {
    position: relative;
    float: right;
    margin-right: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.deny span {
    display: inline-block;
    position: absolute;
    margin-left: -5px;
    padding-left: 5px;
    top: 4px;
    left: -14px;
    line-height: 10px;
    border: 2px solid #a7a590;
    border-radius: 50%;
    width: 8px;
    height: 13px;
    color: #a7a590;
    font-weight: bold;
    cursor: pointer;
    padding-right: 0px;
    transform: rotateZ(50deg);
}


/*右侧统计和历史信息*/
.right-side .title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 19px;
}

.right-side .line {
    border: 1px solid #a7a590;
}

.history-list li {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

.right-side table {
    width: 100%;
    margin-bottom: 20px;
}

.right-side table tr td {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 5px;
}


/*版权信息样式控制*/
.footer {
    margin-bottom: 50px;
    font-size: 13px;
}


/*添加资源弹出*/
.add_resource_dialog {
    display: none;
    position: absolute;
    width: 500px;
    height: 90px;
    border: 3px solid #553D00;
    border-radius: 10px;
    background-color: #E0EDD4;
    z-index: 20;
}

.add_resource_dialog span {
    font-size: 12px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.add_resource_dialog .input {
    width: 450px;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid #553D00;
}

.add_resource_dialog .add,
.close {
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.add_resource_dialog .add,
.close {
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.add_resource_dialog .triangle-border{
    display: inline-block;
    position: absolute;
    top: -25px;
    left: 26px;
    width: 0;
    height: 0;
    border-bottom: 20px solid #553d00;
    border-top: 0px solid rgba(51, 37, 132, 0);
    border-left: 28px solid rgba(181, 40, 117, 0);
    border-right: 28px solid rgba(85, 61, 0, 0);
}

.add_resource_dialog  .triangle{
    display: inline-block;
    top: -21.5px;
    left: 26px;
    width: 0;
    height: 0;
    border-bottom: 20px solid #e0edd4;
    border-top: 0px solid rgba(51, 37, 132, 0);
    border-left: 28px solid rgba(181, 40, 117, 0);
    position: absolute;
    border-right: 28px solid rgba(85, 61, 0, 0);
    z-index: 50;
}

/*使用媒体查询实现简单的响应式布局*/
/*平板*/
@media screen and (max-width: 1000px) {
    .main .right-side {
        display: none;
    }
    .main .left-main .main-inner {
        margin-right: 0;
    }
}

/*基本是手机了*/
@media screen and (max-width: 700px) {
    body {
        font-size: 14px;
    }
    /*logo*/
    .header-top .logo-text {
        margin-top: 30px;
        font-size: 19px;
        line-height: 44px;
    }
    .header .header-top {
        line-height: 33px;
        margin-top: -25px;
    }
    .header .menu {
        height: 22px;
        line-height: 24px;
        padding-top: 3px;
    }
    .menu .list {
        width: 60px;
        font-size: 13px;
        height: 24px;
    }
    /*控制tabs*/
    .header-top .tabs span {
        display: block;
        float: left;
        height: 30px;
        margin-left: 1px;
        margin-top: 38px;
        padding: 0 2px 0 2px;
        font-size: 12px;
        border-top: 2px solid #383838;
        border-right: 2px solid #383838;
        border-left: 2px solid #383838;
        border-radius: 15px 15px 0 0;
        cursor: pointer;
    }
    .header-top .tabs span.active {
        height: 34px;
        margin-top: 33px;
        padding-top: 5px;
        background-color: #606060;
        color: #f2f2f2;
    }
    .menu .menu-title {
        display: none;
    }
    /*设置主题区域，主要让次要信息隐藏*/
    .main .right-side {
        display: none;
    }
    .main .left-main .main-inner {
        margin-right: 0;
    }
    .main-inner li .status {
        display: none;
    }
    li .info-list .info-list-inner {
        margin-left: 16px;
        font-size: 13px;
    }
    .info-list-inner .net {
        min-height: 30px;
        margin-top: 4px;
        line-height: 22px;
        font-size: 14px;
        font-weight: 600;
    }
    .info-list-inner .resource {
        min-height: 33px;
        line-height: 19px;
    }
    .resource .resource-del {
        top: 1px;
        padding-left: 3px;
    }
    .deny span {
        top: 1px;
    }
}

/*iphone5*/
@media screen and (max-width: 330px) {
    .header-top .logo-text {
        font-size: 14px;
        line-height: 44px;
        margin-top: 31px;
    }
}